:root {
    --primary-color: #f09d1f;
    --secondary-color: #ffffff;
    --dark-color: #121111;
    --light-gray: #f5f5f5;
    --medium-gray: #e0e0e0;
    --dark-gray: #757575;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-gray);
}

.login-form {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
}

.login-form .form-group {
    margin-bottom: 1.5rem;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.login-form input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--medium-gray);
    border-radius: 4px;
    font-size: 1rem;
}

.login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #d18b1a;
}

.logo {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.login-logo {
    width: 180px; /* Reduje el tamaño para mejor proporción */
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .logo h1 {
        font-size: 2rem;
    }
    
    .logo h2 {
        font-size: 1.5rem;
    }
    
    .login-logo {
        width: 150px;
    }
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1; 
}

#togglePassword {
    position: absolute;
    width: 10px;
    background-color: transparent;
    left: 290px;
}

#forgotPassword {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 1rem;
}

#forgotPasswordLink {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
}